{
  "yelp" : {
    "client_id" : "CLIENT ID",
    "grant_type" : "client_credentials",
    "client_secret" : "CLIENT SECRET"
  },
  "comment" : "Remove the .sample once you filled out the credentials"
}